@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var unit = ViewData["unit"] as Kers.Models.Entities.KERScore.PlanningUnit;
    ViewData["Title"] = unit.Name;
    ViewData["Subtitle"] = "Events";
    
}
@model List<Kers.Controllers.Reports.GroupedCountyEvents>
<br><br>

    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="panel">
                <div class="x_title">
                    <h2>Upcomming Events</h2>
                    <div class="clearfix"></div>
                </div>
                
                <div class="panel-body">
                    <div class="row">
                        @if( Model.Count() == 0 ){
                            <div>No Events Scheduled</div>
                        }
                    
                            @foreach( var grpd in Model )
                            {
                                <div class="profile_title">
                                    <div class="col-xs-12">
                                        <h2>@grpd.date.ToString("dddd, MMMM dd, yyyy")</h2>
                                    </div>
                                </div>
                                @foreach (var e in grpd.events)
                                {


                                    <article class="media event" style="border-bottom: 1px solid #ccc; padding-bottom: 8px;">
                                    
                                    
                                    
                                    <div class="media-body">
                                        <a class="title" href="@Url.RouteUrl("CountyEventDetails", new { id = e.Id, conuntyId=unit.Id })">@e.Subject</a>
                                        <p>
                                            <em>
                                                    @( e.HasStartTime ? e.Start.ToString("hh:mm tt")  + 
                                                                                    (   e.Start.ToString("%K") == "-04:00" ? " (ET)" : " (CT)") 
                                                                                :  "") 
                                                    
                                                    
                                                    @(e.HasEndTime ? 
                                                    (
                                                        " - " + ( e.End?.Date != e.Start.Date ?  e.End?.ToString("MM/dd/yyyy ") ?? "" : "")
                                                                                +   e.End?.ToString("hh:mm tt")  
                                                                                +  ( e.Start.ToString("%K") == "-04:00" ? " (ET)" : " (CT)") 
                                                    )
                                                    
                                                    
                                                    : "")
                                                    </em>
                                                    
                                                    <br>
                                                    @( Html.Raw(e.Location != null ?
                                                        ( e.Location.Address != null ? 




                                                                            ( e.Location.Address.Building != "" ? e.Location.Address.Building + "<br>" 
                                                                                :
                                                                                "")
                                                                                +
                                                                            ( e.Location.Address.City != null && e.Location.Address.City != ""
                                                                                ?
                                                                                e.Location.Address.City + ", KY " + (e.Location.Address.PostalCode != "" ? e.Location.Address.PostalCode : "")
                                                                                :
                                                                                ""
                                                                            )
                                                                            
                                                                        
                                                                        : "" 
                                                        )
                                                    :
                                                    "" )
                                                    )
                                        </p>
                                    </div>

                                </article>
                                    
                                }
                                
                            
                            }
                    </div>
                    




                </div>
            </div>


            
        </div>



        <div class="col-md-4 col-sm-12">
            <div class="panel">
                <div class="x_title">
                    <h2>@unit.Name.Substring( 0, unit.Name.Count() - 4 )</h2>
                    <div class="clearfix"></div>
                </div>
                
                <div class="panel-body">
                    <strong><a class="title" href="@unit.WebSite">Website</a></strong><br> 
                    <br>
                    <em>Email:</em><br> @unit.Email
                    <br>
                    <em>Phone:</em><br> @unit.Phone
                </div>
            </div>
        </div>




    </div>
