@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Cooperative Extension Events";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    var fy = ViewData["fy"] as string;
    
}
@model List<Kers.Models.Entities.KERScore.ExtensionEvent>
<br><br>

    <div class="row">
        <div class="col-md-10 col-sm-12">
            @foreach( var e in Model )
            {
                <article class="media event" style="border-bottom: 1px solid #ccc; padding-bottom: 8px;">
                    <a class="pull-left date" @( e.IsCancelled == true ? "style=background-color:salmon;" : "")>
                        <p class="month">@e.Start.ToString("MMM")</p>
                        <p class="day">@e.Start.Day</p>
                    </a>
                    @if(e.End != null && e.Start.DayOfYear != e.End?.DayOfYear ){
                        <a class="pull-left date" @( e.IsCancelled == true ? "style=background-color:salmon;" : "")>
                            <p class="month">@e.End?.ToString("MMM")</p>
                            <p class="day">@e.End?.Day</p>
                        </a>
                    }
                    
                    <div class="media-body">
                        <a class="title">@(e.DiscriminatorValue != "Meeting" ? "In-Service Training:" : (e.IsCancelled == true ? "(Canceled) ": ""))  @e.Subject</a>
                        <p>
                            <strong>When:</strong> 
                                    @( e.DiscriminatorValue == "Meeting" && e.Start.Minute % 10 == 0 ? e.Start.ToString("MM/dd/yyyy hh:mm tt").ToLower()  + 
                                                                    (   e.Start.ToString("%K") == "-04:00" ? " (ET)" : " (CT)") 
                                                                :  e.Start.ToString("MM/dd/yyyy")) 
                                    
                                    
                                    @(e.End != null && e.Start.DayOfYear != e.End?.DayOfYear ? 
                                    (
                                        e.DiscriminatorValue == "Meeting" &&  e.End?.Minute % 10 == 0 ? e.End?.ToString(" - MM/dd/yyyy hh:mm tt").ToLower() + 
                                                                    (   e.End?.ToString("%K") == "-04:00" ? " (ET)" : " (CT)") 
                                                                :  e.End?.ToString(" - MM/dd/yyyy") 
                                    
                                    )
                                    
                                    
                                    : "")
                                    
                                    
                                    <br>
                            <strong>Location:</strong> @e.tLocation<br>
                            <strong>Contact:</strong> @e.tContact
                        </p>
                    </div>
                </article>
            
            }
        </div>
    </div>
