@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Plans of Work By Major Program";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    int? programId = ViewData["ProgramId"] as int?;
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    var fy = ViewData["fy"] as string;
}
@model List<Kers.Models.ViewModels.PlanOfWorkViewModel>


<div class="text-right">
        <a asp-controller="PlansOfWork"  asp-action="Programlist" asp-route-fy=@fy class="btn btn-default btn-xs">Back to Major Programs</a><br>
</div>
@if(Model.Count() == 0){
    <p>No Plans of Work for this Fiscal Year.</p>
}else{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th></th>
                <th>FY</th>
                <th>Planning Unit</th>
                <th>@(FiscalYear.Epoch < 1 ? "MAP Title" : "")</th>
                <th>@(FiscalYear.Epoch < 1 ? "Plan of Work" : "Emphasis")</th>
            </thead>
            <tbody>
            @foreach( var plan in Model){
                <tr>
                    <td><a asp-controller="PlansOfWork"  asp-action="PlanFullProgram" asp-route-id=@plan.Id asp-route-programid=@programId class="btn btn-info btn-xs">Select</a></td>
                    <td>@plan.FiscalYear.Name</td>
                    <td>@plan.PlanningUnit.Name</td>
                    <td>@(FiscalYear.Epoch < 1 ? plan.LastRevision.Map.Title : "")</td>
                    <td>@plan.LastRevision.Title</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
}
