@model List<Kers.Models.Entities.SoilData.SoilReportBundle>
@{
    Layout = "~/Views/Shared/_LayoutSoil.cshtml";
    
    ViewData["Subtitle"] = "Soil Test Results";
    
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Report Date</th>
            <th>Form Type</th>
            <th>Owner Sample ID</th>
            <th>CO Sample Num</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LabTestsReady.ToString("d")</td>
                <td>@item.TypeForm.Code</td>
                <td>@(@item.Reports.Count() > 0 ? @item.Reports.First().OsId : "")</td>
                <td>@item.CoSamnum</td>
                <td>@item.LastStatus.SoilReportStatus.Name</td>
                <td><a href="~/reports/soil/report/@item.UniqueCode">select</a></td>
            </tr>
            
        }
    </tbody>
</table>

