
@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Success Story";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
}
@model Kers.Models.ViewModels.StoryViewModel
<br><br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>@Model.Title</h3>
        <p><strong>Author: </strong>@Model.KersUser.PersonalProfile.FirstName @Model.KersUser.PersonalProfile.LastName</p>
        <p><strong>Planning Unit: </strong>@Model.PlanningUnit.Name</p>
        <p><strong>Major Program: </strong>@Model.MajorProgram.Name</p>
        @if(@Model.PlanOfWork != null){
            <p><strong>Plan of Work: </strong>@Model.PlanOfWork.Title</p>
        }
        <p><strong>Outcome: </strong>@Model.StoryOutcome.Name</p>
        <environment names="Development">
            <div class="fr-view">@Html.Raw(@Model.Story)</div>
        </environment>
        <environment names="Staging,Production">
            <div class="fr-view">@Html.Raw(@Model.Story.Replace("fileuploads", "/core/fileuploads"))</div>
        </environment>
        
    </div>
</div>
<br><br>