@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    var conty = ViewData["County"] as Kers.Models.Entities.KERScore.PlanningUnit;
    ViewData["Title"] = conty.Name;
    var topPrograms = ViewData["TopPrograms"] as List<Kers.Models.ViewModels.ProgramDataViewModel>; 
    var topProgramsSum = ViewData["TopProgramsAudienceSum"] as int?;
    string[] colors = {"#BDC3C7", "#9B59B6", "#E74C3C",  "#26B99A", "#3498DB"};
    string colorsAsAString = "[\"#BDC3C7\", \"#9B59B6\", \"#E74C3C\",  \"#26B99A\", \"#3498DB\"]";
    var index = 0;
    var programNamesAsString = "[";
    var dataAsString = "[";
    foreach( var prgrm in topPrograms ){
      programNamesAsString += "\"" + prgrm.Program.Name + "\",";
      dataAsString += prgrm.DirectContacts.ToString() + ",";
    }
    programNamesAsString += "]";
    dataAsString += "]";
}
@await Html.PartialAsync("TopStatsPartial")
<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class="active"><a asp-controller="Reports"  asp-action="County" asp-route-fy="@FiscalYear.Name" asp-route-id=@conty.Id>Summary</a>
    </li>
    <li role="presentation" class=""><a asp-controller="Contacts"  asp-action="DataByMonthByMajorProgram"  asp-route-fy="@FiscalYear.Name" asp-route-filter="1" asp-route-id=@conty.Id>Data by Major Program</a>
    </li>
    <li role="presentation" class=""><a asp-controller="Contacts"  asp-action="DataByMonthByEmployee" asp-route-fy="@FiscalYear.Name" asp-route-id=@conty.Id>Employee Contribution Data</a>
    </li>
</ul>
<div class="row">
  <div class="col-md-8 col-sm-8 col-xs-12">
    @await Component.InvokeAsync("MainStory", new {PlanningUnitId = conty.Id})
    <div class="row">
          <!-- Start to do list -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel">
              <div class="x_title">
                <h2>Major Programs <small></small></h2>
                
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">

                <div class="">
                  <table class="" style="width:100%">
                  <tr>
                      <th style="width:37%;">
                      <p>Top Programs</p>
                      </th>
                      <th>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Name</p>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">Percent</p>
                      </div>
                      </th>
                  </tr>
                  <tr>
                      <td>
                      <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                      </td>
                      <td>
                          <table class="tile_info">
                              <tbody>
                              @foreach(var progrm in topPrograms)
                              {
                                  <tr>
                                      <td style="font-size: 12px">
                                      <p><i class="fa fa-square" style="color: @colors[index];"></i>
                                      <a asp-controller="MajorProgram" 
                                    asp-action="Program" 
                                    asp-route-id="@progrm.Program.Id">
                                      @progrm.Program.Name.Substring(0,Math.Min(@progrm.Program.Name.Length, 19))...</a></p>
                                      </td>
                                      @{
                                      int percent = (int)Math.Round((double)(100 * progrm.DirectContacts) / (double)topProgramsSum);
                                      }
                                      <td style="font-size: 12px">@percent%</td>
                                  </tr>
                                  index++;
                              }
                              </tbody>
                              
                          </table>
                      </td>
                  </tr>
              </table>
                </div>
              </div>
            </div>
          </div>
          <!-- End to do list -->
          
          <!-- start of person widget -->
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel">
              <div class="x_title">
                <h2>People <small></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                @await Component.InvokeAsync("FeaturedPerson", new {PlanningUnitId = conty.Id})
              </div>
            </div>

          </div>
          <!-- end of person widget -->
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel">
              <div class="x_title">
                <h2>Reports <small></small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="bs-glyphicons text-center">
                <ul class="bs-glyphicons-list">
                  <li>
                    <a href="~/reports/PlansOfWork/plansbycounty/@conty.Id">
                      <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                      <span class="glyphicon-class">Plans of Work</span>
                    </a>
                  </li>
                  
                  <li>
                    <a href="~/reports/Employees/Data/1/@conty.Id">
                      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                      <span class="glyphicon-class">Statistical Contacts</span>
                    </a>
                  </li>
                  <li>
                    <a href="~/reports/Data/storiescounties/@conty.Id">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                      <span class="glyphicon-class">Success Stories</span>
                    </a>
                  </li>
                  <li>
                    <a href="~/reports/ProgramIndicators/@conty.Id">
                      <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                      <span class="glyphicon-class">Program Indicators</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">




                      <section class="panel">

                        <div class="x_title">
                          <h2>About</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                          <h3 class="green">@conty.Name</h3>

                          <p>@Html.Raw(conty.Description)</p>
                          <br>

                          <div class="project_detail">
                            @if(conty.Address != null && conty.Address != "")
                            {
                              <p class="title">Address:</p>
                              <p>@conty.FullName<br>
                              @conty.Address<br>
                              @conty.City, KY @conty.Zip</p>
                            }
                            <p class="title">Phone</p>
                            <p>@conty.Phone</p>
                            <p class="title">Email</p>
                            <p>@conty.Email</p>
                            <p class="title">Web Site</p>
                            <p><a href="@conty.WebSite" target="_blank">@conty.WebSite</a></p>
                            @if(conty.District != null)
                            {
                              <p class="title">District</p>
                              <p>@conty.District.Name - @conty.District.AreaName</p>
                              
                            }
                          </div>

                          <br>
                          <h5>County Population</h5>
                          <ul class="list-unstyled project_files">
                            <li><a href="">@conty.Population</a>
                            </li>
                            
                          </ul>
                          <br>

                         
                        </div>

                      </section>






          @await Component.InvokeAsync("LatestStories", new {PlanningUnitId = conty.Id})
      </div>
    </div>


    







  </div>     
  @section scripts
{
   <script type="text/javascript" src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")"></script>
   <script>
      
	 
		if ($('.canvasDoughnut').length){
			
      var chart_doughnut_settings = {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: @Html.Raw(@programNamesAsString),
            datasets: [{
              data: @Html.Raw(@dataAsString),
              backgroundColor: @Html.Raw(@colorsAsAString),
              hoverBackgroundColor: [
                "#CFD4D8",
                "#B370CF",
                "#E95E4F",
                "#36CAAB",
                "#49A9EA"
              ]
            }]
          },
          options: { 
            legend: false, 
            responsive: false 
          }
        }
      
        $('.canvasDoughnut').each(function(){
          
          var chart_element = $(this);
          var chart_doughnut = new Chart( chart_element, chart_doughnut_settings);
          
        });			
      
      } 
    </script>
}