@model List<Kers.Controllers.Reports.DistrictViewModel>

@{
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Counties";
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";
    var index = 0;
    var divided = false;
}



<div class="row">
    <div class="col-md-6 col-sm-12">
        @foreach( var district in Model )
        {

            <div class="x_panel tile">
                <div class="x_title">
                  <h2>@district.District.Name</h2>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                        @foreach( var county in district.Counties)
                        {
                        <a asp-controller="Reports" 
   asp-action="County" asp-route-fy="@FiscalYear.Name" 
   asp-route-id="@county.Id" class="btn btn-default">@county.Name.Substring(0, county.Name.Length - 11)</a>
                        
                        }
                    
                </div>
              </div>
              @if( index >= (Model.Count() / 2) && !divided)
              {
                  divided = true;
                  @Html.Raw("</div><div class='col-md-6 col-sm-12'>")
              }
              index++;
        }
    </div>




</div>



