@{
    var fy = ViewData["fy"] as string;
    if( fy == "0"){
      fy = "2024";
    }
}
<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2564766-19"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-2564766-19');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - @ViewData["Subtitle"] </title>
    <environment names="Development">
        <base href="/" />
    </environment>
    <environment names="Staging,Production">
        <base href="/core" />
    </environment>
    <link rel="apple-touch-icon" href="~/assets/images/site_icons/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/assets/images/site_icons/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/site_icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="~/assets/images/site_icons/touch-icon-ipad-retina.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="icon" sizes="192x192" href="~/assets/images/site_icons/icon-hires.png" />
    <link rel="icon" sizes="128x128" href="~/assets/images/site_icons/icon-normal.png" />


    <link rel="stylesheet" href="~/assets/reporting/custom.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/reporting/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/reporting/styles.css">
    
    <link rel="stylesheet" href="~/assets/reporting/froala_style.min.css" asp-append-version="true" />
    @RenderSection("stylesheet", required: false)

    <link rel="stylesheet" media="all" href="~/assets/front/css_hTnlx6AK5NXPvU-r0Tw-8htXTpB360qvld7yLPnANwc.css">
    <link rel="stylesheet" media="all" href="~/assets/front/all.min.css">
    <link rel="stylesheet" media="all" href="~/assets/front/v4-shims.css">
    <link rel="stylesheet" media="all" href="~/assets/front/css_VOcNrmiNq5qPkiQkR5DOO7jbt7J7GD1q842GvcnbpCI.css">
    <link rel="stylesheet" media="all" href="~/assets/front/css_u9T2CyuQk4JviA7TahHiBl27XUx74Dtx_6bs0W1lrW4.css">

    <link rel="icon" type="image/png" href="https://extension.ca.uky.edu/themes/custom/commonwealth/images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://extension.ca.uky.edu/themes/custom/commonwealth/images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://extension.ca.uky.edu/themes/custom/commonwealth/images/favicon-96.png" sizes="96x96">
    
    <script src="~/assets/front/jquery.min.js"></script>
    <script src="~/assets/front/jquery.once.min.js"></script>
    <script src="~/assets/front/subpagenav.js"></script>
</head>
<body>
  <div class="lateral-navigation">
    <div class="lateral-navigation__closer">
      <a class="lateral-navigation__close-block"><span class="lateral-navigation__close-text">Close Resources</span></a>
    </div>
    <div class="l-lateral-menu">
      <div class="lateral_quick">
        <h4 class="lateral_quick__header">College Resources</h4>
        <a class="tag--lateral-menu" href="https://students.ca.uky.edu">Academics</a>
        <a class="tag--lateral-menu" href="https://administration.ca.uky.edu">Administration</a>
        <a class="tag--lateral-menu" href="https://alumni.ca.uky.edu">Alumni &amp; Giving</a>
        <a class="tag--lateral-menu" href="https://news.ca.uky.edu">College News</a>
        <a class="tag--lateral-menu" href="https://www2.ca.uky.edu/agcomm/pubs.asp">Publications</a>
        <a class="tag--lateral-menu" href="https://www.ca.uky.edu/deptunits">Departments &amp; Units</a>
        <a class="tag--lateral-menu" href="https://extension.ca.uky.edu">Extension</a>
        <a class="tag--lateral-menu" href="https://research.ca.uky.edu">Research</a>
      </div>
    </div>
    <div class="lateral_quick">
      <h4 class="lateral_quick__header">Contact Information</h4>
      <h5 class="details__contact_name-title">Craig Wood, Ph.D<br>
              Acting Associate Dean & Director<br>
              UK Cooperative Extension Service
      </h5>
      <p><span class="details__POC-item"><i class="fas fa-map-marker-alt poc-circular-icon"></i><span
            class="details__POC-item-inner">S-107 Ag. Science Center North</span></span>
        <span class="details__POC-indent">Lexington, KY 40546-0091</span>
      </p>
      <p><span class="details__POC-item"><i class="fas fa-mobile-alt poc-circular-icon"></i><a
            href="tel:+1 (859) 257-4302"><span class="details__POC-item-inner">+1 (859) 257-4302</span></a></span></p>
      <p><span class="details__POC-item"><i class="fas fa-envelope poc-circular-icon"></i><a
            href="mailto:craig.wood@uky.edu"><span
              class="details__POC-item-inner">craig.wood@uky.edu</span></a></span></p>
    </div>
  </div>
  <div id="main-content">
      <header id="main-header">
        <div class="l-constrain-logo">
            <div class="lockup__wrapper">
              <a href="https://extension.ca.uky.edu/" class="lockup">
                <div class="lockup__main">
                  <div class="lockup__logo">
                    <span class="uk-logo-svg">
                      <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 85 69" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <g fill="currentColor" fill-rule="evenodd">
                          <path d="M24.466 33.753H19.88V9.234h4.587V3.106H3.056v6.128h4.589v24.52l6.118 6.129h10.703zm15.292 6.13h10.705l6.117-6.13V9.236h4.586v-6.13H39.758v6.13h4.588v24.517h-4.588z"></path>
                          <path d="M61.55 45.628l13.38-13.407h6.117v-6.13H58.108v6.13h2.294l-9.174 9.193H38.23v-9.193h4.588v-6.13h-21.41v6.13h4.587v27.581h-4.587v6.129h21.41v-6.129H38.23v-9.194h12.998l9.173 9.194h-2.293v6.129h22.939v-6.129h-5.353z"></path>
                          <path d="M36.7.041V12.3h4.588v10.728H22.937V12.299h4.589V.041H0V12.3h4.587v22.985h.003l-.003.002 7.646 7.66h10.705v13.792h-4.589v12.26h27.525v-12.26h-4.586v-3.066h8.41l5.353 5.365v9.96h29.052l.002-12.259h-6.882L66.138 45.63l10.32-10.343h7.647l-.002-12.26-24.465.001V12.299h4.587V.041H36.701zm1.528 1.533h24.469v9.195h-4.589v13.79h24.468v9.193h-6.882L63.843 45.63 76.46 58.27h6.116v9.196H56.58V58.27h-.001l-6.118-6.13H39.758v6.13h4.587v9.196H19.878V58.27h4.59V41.415h-11.47l-6.883-6.897v-23.75H1.528V1.574h24.467v9.195h-4.588v13.79h21.41v-13.79h-4.59V1.574z"></path>
                        </g>
                      </svg>
                      <span class="show-for-sr">University of Kentucky</span>
                    </span>
                  </div>
                  <div class="lockup__wordmark">
                    <span class="lockup__wordmark__row">Cooperative</span>
                    <span class="lockup__wordmark__row">Extension Service</span>
                  </div>
                </div>
                </a><div class="lockup__unit"><a href="https://extension.ca.uky.edu/" class="lockup"></a><a href="https://www.ca.uky.edu/">Martin-Gatton College of Agriculture, Food and Environment</a></div>
            </div>
            <nav class="functional-menu">
              <ul>
                <li class="upper-nav__myUK">
                  <a href="https://myuk.uky.edu/" class="button button--header my-uk-logo__header" title="Log into the myUK portal">
                    <svg id="myUK" focusable="false" aria-hidden="true" viewBox="0 0 61 27" xmlns="http://www.w3.org/2000/svg">
                      <g fill="currentColor" fill-rule="evenodd">
                        <path d="M57.878 24.676c0-.174.034-.337.1-.49a1.29 1.29 0 0 1 .668-.669c.152-.067.315-.1.488-.1s.336.033.488.1a1.29 1.29 0 0 1 .668.67c.066.152.1.315.1.49 0 .174-.034.336-.1.488a1.284 1.284 0 0 1-.668.671c-.152.067-.315.101-.488.101s-.336-.034-.488-.1a1.289 1.289 0 0 1-.668-.672 1.215 1.215 0 0 1-.1-.489zm.182 0a1.103 1.103 0 0 0 .314.763c.098.097.211.174.341.23.13.056.27.085.42.085a1.053 1.053 0 0 0 .758-.315c.096-.098.173-.211.23-.343.056-.13.084-.27.084-.42a1.06 1.06 0 0 0-.314-.761 1.053 1.053 0 0 0-.759-.316 1.054 1.054 0 0 0-.76.316 1.099 1.099 0 0 0-.314.761zm.8.722h-.182v-1.453h.557c.164 0 .281.034.352.103.068.069.104.168.104.3 0 .068-.01.125-.03.173a.358.358 0 0 1-.196.197.635.635 0 0 1-.138.043l.43.637h-.205l-.432-.637h-.26v.637zm0-.799h.233c.05 0 .1-.002.149-.005a.426.426 0 0 0 .133-.031.246.246 0 0 0 .097-.075.235.235 0 0 0 .037-.14.226.226 0 0 0-.029-.118.225.225 0 0 0-.075-.072.32.32 0 0 0-.104-.038.566.566 0 0 0-.117-.012h-.323v.491zm-46.745-6.412c0-.346.068-.833.162-1.227l.744-4c.326-1.782.187-2.591-1.07-2.591-.72 0-1.325.254-2.279.786l-1.371 8.142H5.952l1.071-6.338c.301-1.804.232-2.59-1-2.59-.744 0-1.326.254-2.28.786l-1.371 8.142H0l1.465-8.582L0 9.767v-.232l3.953-1.156.093.07-.326 2.15.094.07C5.394 9.235 6.65 8.518 7.79 8.518c1.278 0 1.814.925 1.836 2.105l.093.07c1.558-1.435 2.86-2.175 4.023-2.175 1.604 0 2.116 1.457 1.675 3.793l-.907 4.742c-.164.926.046 1.204 2.116 1.25l.068.162c-1.046.647-2.208 1.087-3.115 1.087-1.07 0-1.464-.578-1.464-1.365">
                        </path>
                        <path d="M15.13 22.333c0-.754.44-1.416 1.188-1.416.945 0 1.451 1.028 1.407 2.284.968-.548 2.068-1.919 2.816-3.358-.616-3.265-1.672-6.988-2.31-8.587-.243-.594-.462-.822-.88-.822-.264 0-.704.092-1.364.343l-.132-.183c.858-1.096 1.848-2.033 2.75-2.033.77 0 1.166.389 1.54 1.142.572 1.097 1.386 4.134 1.826 7.217h.109a71.802 71.802 0 0 0 1.98-8.542h.176l2.023 1.006c-1.957 4.658-4.31 10.985-6.774 13.475-.858.867-1.606 1.347-2.486 1.347-1.165 0-1.87-.868-1.87-1.873m19.511-9.431h-1.71v-9.16h1.711V1.454h-7.983v2.29h1.71v9.16l2.281 2.29h3.992zm5.703 2.29h3.991l2.282-2.29V3.744h1.71v-2.29h-7.983v2.29h1.71v9.158h-1.71z">
                        </path>
                        <path d="M48.469 17.339l4.99-5.01h2.28V10.04h-8.554v2.29h.856l-3.421 3.434h-4.847V12.33h1.71v-2.29H33.5v2.29h1.71v10.303H33.5v2.29h7.984v-2.29h-1.71V19.2h4.847l3.42 3.434h-.855v2.29h8.554v-2.29h-1.996z">
                        </path>
                        <path d="M39.201.308v4.58h1.711v4.007H34.07V4.888h1.712V.308H25.516v4.58h1.711v8.587l2.85 2.862h3.992v5.152h-1.71v4.58h10.264v-4.58h-1.71v-1.146h3.136l1.996 2.005v3.721H56.88v-4.58h-2.567l-4.133-4.15 3.848-3.864h2.852v-4.58h-9.124V4.888h1.71V.308H39.2zm.571.573h9.125v3.435h-1.711v5.152h9.123v3.434h-2.565l-4.42 4.437 4.705 4.722h2.28v3.436h-9.693V22.06l-2.282-2.29h-3.991v2.29h1.71v3.436h-9.125V22.06h1.712v-6.297h-4.278l-2.566-2.576V4.316h-1.711V.88h9.124v3.435H33.5v5.152h7.985V4.316h-1.712V.88z">
                        </path>
                      </g>
                    </svg>
                  </a>
                </li>
                <li class="upper-nav__search">
                  <a href="#" class="button button--header open-search-block">
                    <span class="upper-nav__search-text">Search</span>
                  </a>
                </li>
                <li class="upper-nav__menu">
                  <a href="#" class="button button--header expand-lateral-menu">
                    <span class="upper-nav__menu-text">Resources</span>
                  </a>
                </li>
              </ul>
            </nav>
            <div id="upper-nav__mobile-menu-trigger">
              <span class="upper-nav__menu-text">Menu</span>
            </div>
            <hr class="hr--header">
          </div>
        <div class="affiliated-site-name__desktop">
          <div class="l-constrain">
            <span>Impacts</span>
          </div>
        </div>
        
        </header>
    <div class="navigation-visibility__main">
    <nav role="navigation">
      <h2 class="visually-hidden"></h2>
      <nav role="navigation">
        <h2 class="visually-hidden">Main Menu</h2>
        <div class="main-menu-slab">
          <div class="l-constrain">
            <ul class="menu menu--main" role="menubar"> 
              
               <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
                    <a class="menu__link" asp-controller="Reports" asp-action="Index" asp-route-fy="@fy">Home</a>
                </li>
                <li class="menu__item @(ViewContext.RouteData.Values["Controller"].ToString() == "People" ? "active" : "")">
                    <a class="menu__link" asp-controller="People" asp-action="Index" asp-route-fy="@fy">People</a>
                </li>
                <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Counties" ? "active" : "")">
                    <a class="menu__link" asp-controller="Reports" asp-action="Counties" asp-route-fy="@fy">Counties</a>
                </li>
                <li class="menu__item @(ViewContext.RouteData.Values["Controller"].ToString() == "MajorProgram" ? "active" : "")">
                    <a class="menu__link" asp-controller="MajorProgram" asp-action="Index" asp-route-fy="@fy">Programs</a>
                </li>
                <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Data" ? "active" : "")">
                    <a class="menu__link" asp-controller="Data" asp-action="Index" asp-route-fy="@fy">Data</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
  </div>
  <div class="mobile-navigation">
    <div class="mobile-navigation__menu-tabs">
        <div class="row clearfix">
            <div class="mobile-navigation__menu-tab col-xs-6 mobile-navigation__menu-tab-main">
                <a class="button button--ghost mobile-navigation__menu-tab-hover">Main Menu</a>
            </div>
            <div class="mobile-navigation__menu-tab col-xs-6 mobile-navigation__menu-tab-quick">
                <a class="button button--ghost">Resources</a>
            </div>
        </div>
    </div>

    <div class="mobile-naviation__main-menu">

        <div class="l-mobile-main">
            <div class="l-constrain">
                <div class="mobile_main">
                    <ul id="subpagenav__accordion" class="subpagenav__accordion" }}>
                        <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Reports" ? "active" : "")">
                            <div class="subpagenav__link">
                              <a class="menu__link" asp-controller="Reports" asp-action="Index" asp-route-fy="@fy">Home</a>
                            </div>
                        </li>
                        <li class="menu__item @(ViewContext.RouteData.Values["Controller"].ToString() == "People" ? "active" : "")">
                            <div class="subpagenav__link">
                              <a class="menu__link" asp-controller="People" asp-action="Index" asp-route-fy="@fy">People</a>
                            </div>
                        </li>
                        <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Counties" ? "active" : "")">
                            <div class="subpagenav__link">
                              <a class="menu__link" asp-controller="Reports" asp-action="Counties" asp-route-fy="@fy">Counties</a>
                            </div>
                        </li>
                        <li class="menu__item @(ViewContext.RouteData.Values["Controller"].ToString() == "MajorProgram" ? "active" : "")">
                            <div class="subpagenav__link">
                              <a class="menu__link" asp-controller="MajorProgram" asp-action="Index" asp-route-fy="@fy">Programs</a>
                            </div>
                        </li>
                        
                        <li class="menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Data" ? "active" : "")">
                            <div class="subpagenav__link">
                              <a class="menu__link" asp-controller="Data" asp-action="Index" asp-route-fy="@fy">Data</a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
    <div class="mobile-naviation__quick-links">

        <div class="l-mobile-quick">
            <div class="l-constrain">

                <div class="mobile_quick">
                    <h3 class="mobile_quick__header">College Resources</h3>

                    <ul id="subpagenav__accordion" class="subpagenav__accordion" }}>

                        <li>
                            <div class="subpagenav__link">
                                <a href="https://students.ca.uky.edu">Academics</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://administration.ca.uky.edu">Administration</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://alumni.ca.uky.edu">Alumni &amp; Giving</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://news.ca.uky.edu">College News</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://www2.ca.uky.edu/agcomm/pubs.asp">Publications</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://www.ca.uky.edu/deptunits">Departments &amp; Units</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://extension.ca.uky.edu">Extension</a>
                            </div>
                        </li>
                        <li>
                            <div class="subpagenav__link">
                                <a href="https://research.ca.uky.edu">Research</a>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="mobile-navigation__menu-closers">
        <div class="row clearfix">
            <div class="mobile-navigation__menu-closer col-xs-6">
                <a class="button button--ghost" href="https://myuk.uky.edu" title="Log into the myUK portal">

                    <div class="my-uk-logo__header">
                        <svg focusable="false" aria-hidden="true" viewBox="0 0 61 27" xmlns="http://www.w3.org/2000/svg">
                            <g fill="currentColor" fill-rule="evenodd">
                                <path d="M57.878 24.676c0-.174.034-.337.1-.49a1.29 1.29 0 0 1 .668-.669c.152-.067.315-.1.488-.1s.336.033.488.1a1.29 1.29 0 0 1 .668.67c.066.152.1.315.1.49 0 .174-.034.336-.1.488a1.284 1.284 0 0 1-.668.671c-.152.067-.315.101-.488.101s-.336-.034-.488-.1a1.289 1.289 0 0 1-.668-.672 1.215 1.215 0 0 1-.1-.489zm.182 0a1.103 1.103 0 0 0 .314.763c.098.097.211.174.341.23.13.056.27.085.42.085a1.053 1.053 0 0 0 .758-.315c.096-.098.173-.211.23-.343.056-.13.084-.27.084-.42a1.06 1.06 0 0 0-.314-.761 1.053 1.053 0 0 0-.759-.316 1.054 1.054 0 0 0-.76.316 1.099 1.099 0 0 0-.314.761zm.8.722h-.182v-1.453h.557c.164 0 .281.034.352.103.068.069.104.168.104.3 0 .068-.01.125-.03.173a.358.358 0 0 1-.196.197.635.635 0 0 1-.138.043l.43.637h-.205l-.432-.637h-.26v.637zm0-.799h.233c.05 0 .1-.002.149-.005a.426.426 0 0 0 .133-.031.246.246 0 0 0 .097-.075.235.235 0 0 0 .037-.14.226.226 0 0 0-.029-.118.225.225 0 0 0-.075-.072.32.32 0 0 0-.104-.038.566.566 0 0 0-.117-.012h-.323v.491zm-46.745-6.412c0-.346.068-.833.162-1.227l.744-4c.326-1.782.187-2.591-1.07-2.591-.72 0-1.325.254-2.279.786l-1.371 8.142H5.952l1.071-6.338c.301-1.804.232-2.59-1-2.59-.744 0-1.326.254-2.28.786l-1.371 8.142H0l1.465-8.582L0 9.767v-.232l3.953-1.156.093.07-.326 2.15.094.07C5.394 9.235 6.65 8.518 7.79 8.518c1.278 0 1.814.925 1.836 2.105l.093.07c1.558-1.435 2.86-2.175 4.023-2.175 1.604 0 2.116 1.457 1.675 3.793l-.907 4.742c-.164.926.046 1.204 2.116 1.25l.068.162c-1.046.647-2.208 1.087-3.115 1.087-1.07 0-1.464-.578-1.464-1.365"></path>
                                <path d="M15.13 22.333c0-.754.44-1.416 1.188-1.416.945 0 1.451 1.028 1.407 2.284.968-.548 2.068-1.919 2.816-3.358-.616-3.265-1.672-6.988-2.31-8.587-.243-.594-.462-.822-.88-.822-.264 0-.704.092-1.364.343l-.132-.183c.858-1.096 1.848-2.033 2.75-2.033.77 0 1.166.389 1.54 1.142.572 1.097 1.386 4.134 1.826 7.217h.109a71.802 71.802 0 0 0 1.98-8.542h.176l2.023 1.006c-1.957 4.658-4.31 10.985-6.774 13.475-.858.867-1.606 1.347-2.486 1.347-1.165 0-1.87-.868-1.87-1.873m19.511-9.431h-1.71v-9.16h1.711V1.454h-7.983v2.29h1.71v9.16l2.281 2.29h3.992zm5.703 2.29h3.991l2.282-2.29V3.744h1.71v-2.29h-7.983v2.29h1.71v9.158h-1.71z"></path>
                                <path d="M48.469 17.339l4.99-5.01h2.28V10.04h-8.554v2.29h.856l-3.421 3.434h-4.847V12.33h1.71v-2.29H33.5v2.29h1.71v10.303H33.5v2.29h7.984v-2.29h-1.71V19.2h4.847l3.42 3.434h-.855v2.29h8.554v-2.29h-1.996z"></path>
                                <path d="M39.201.308v4.58h1.711v4.007H34.07V4.888h1.712V.308H25.516v4.58h1.711v8.587l2.85 2.862h3.992v5.152h-1.71v4.58h10.264v-4.58h-1.71v-1.146h3.136l1.996 2.005v3.721H56.88v-4.58h-2.567l-4.133-4.15 3.848-3.864h2.852v-4.58h-9.124V4.888h1.71V.308H39.2zm.571.573h9.125v3.435h-1.711v5.152h9.123v3.434h-2.565l-4.42 4.437 4.705 4.722h2.28v3.436h-9.693V22.06l-2.282-2.29h-3.991v2.29h1.71v3.436h-9.125V22.06h1.712v-6.297h-4.278l-2.566-2.576V4.316h-1.711V.88h9.124v3.435H33.5v5.152h7.985V4.316h-1.712V.88z"></path>
                            </g>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="mobile-navigation__menu-closer col-xs-6">
                <a class="button button--ghost open-search-block" href="#">
                    <span class="mobile-navigation__search-text">Search</span>
                </a>
            </div>

        </div>

        <div class="mobile-navigation__content">
            <h4 class="lateral_quick__header">Contact Information</h4>
            <h5 class="details__contact_name-title">Craig Wood, Ph.D<br>
              Acting Associate Dean & Director<br>
              UK Cooperative Extension Service
            </h5>
            <p><span class="details__POC-item"><i class="fas fa-map-marker-alt poc-circular-icon"></i><span
                  class="details__POC-item-inner">S-107 Ag. Science Center North</span></span>
              <span class="details__POC-indent">Lexington, KY 40546-0091</span>
            </p>
            <p><span class="details__POC-item"><i class="fas fa-mobile-alt poc-circular-icon"></i><a
                  href="tel:+1 (859) 257-4302"><span class="details__POC-item-inner">+1 (859) 257-4302</span></a></span></p>
            <p><span class="details__POC-item"><i class="fas fa-envelope poc-circular-icon"></i><a
                  href="mailto:craig.wood@uky.edu"><span
                    class="details__POC-item-inner">craig.wood@uky.edu</span></a></span></p>
          </div>

        </div>
    </div>

<div class="search-block">
    <div class="l-constrain">
        <span class="search-block__close-icon">
            <i class="far fa-times-circle fa-2x"></i>
        </span>
        <form class="form-item form-sitem--search search-block__form" id="searchbox_003398099011942252124:gmpps7ysdwm" action="https://www.ca.uky.edu/search" method="get" role="search">
            <label class="form-item__label search-block__label" for="edit-search">
                <h3>Search the Martin-Gatton College of Agriculture, Food and Environment</h3>
            </label>
            <input name="cx" type="hidden" value="003398099011942252124:gmpps7ysdwm"/>
            <input name="cof" type="hidden" value="FORID:11"/>
            <input name="siteurl" type="hidden" value="www2.ca.uky.edu/"/>
            <input name="ref" type="hidden" value=""/>
            <input name="ss" type="hidden" value="208j25472j4"/>
            <input class="form-item__search search-block__search-field" id="search-block__search-field" type="search" name="q" aria-label="Enter a keyword that matches what you're looking for" placeholder="Search the Martin-Gatton College of Agriculture, Food and Environment" autofocus>
            <a href="javascript:{}" onclick="document.getElementById('searchbox_003398099011942252124:gmpps7ysdwm').submit();" class="button search-block__search-button">
                <span>Search</span>
            </a>
            <div class="form-item__description search-block__directions">Enter a keyword in the field above, then press the search button to see matching results from our college.</div>
        </form>
    </div>
</div>

  <main>

    <div class="text-right fiscal-year-switcher">
      <br><br><br>
      @await Component.InvokeAsync("FiscalYearSwitcher", new { selected = @ViewData["fy"], showNext = false, showDetails = true })
    
      <br>
    
    
    </div>

    <div class="container-fluid" style="padding: 0 40px;">
        <div class="x_title"><br>
            <h2>@ViewData["Title"]<small>@ViewData["Subtitle"]</small></h2>
            
            <div class="clearfix"></div>
        </div>
        @RenderBody()
    </div>


    <div class="cafe-footer">
      <div class="footer-lockup-group">
        <div class="footer-uk-lockup-wrapper">
          <a href="https://www.uky.edu" target="_blank"><img src="~/assets/front/uk-lockup.svg" alt="University of Kentucky lockup"></a>
        </div>
        <div class="footer-kysu-lockup-wrapper">
          <a href="https://www.kysu.edu/academics/college-acs/index.php"><img src="~/assets/front/kysu-cacs-logo.png" alt="Kentucky State University lockup"></a>
        </div>
      </div>
      <div class="footer-major-links">
        <ul>
          <li><a href="https://news.ca.uky.edu" target="_blank">News</a></li>
          <li><a href="https://www.ca.uky.edu/calendar/month" target="_blank">Events</a></li>
          <li><a href="https://www.ca.uky.edu/deptunits" target="_blank">Departments</a></li>
          <li><a href="https://www.ca.uky.edu/partnerships" target="_blank">Partnerships</a></li>
          <li><a href="https://extension.ca.uky.edu" target="_blank">Extension</a></li>
          <li><a href="https://alumni.ca.uky.edu/" target="_blank">Alumni + Giving</a></li>
        </ul>
      </div>
      <div class="contact-details">
                    <ul>
          <li><span>Acting Associate Dean & Director — Craig Wood, Ph.D.&nbsp;</span></li>
          <li><span>S107 Ag. Science Center North</span></li>
          <li><span>Lexington, KY 40546-0091</span></li>
          <li><span><a href="tel:18592574302">+1 (859) 257-4302</a></span></li>
        </ul>
          </div>
      <div class="social-channels">
        <ul>
          <li>
            <a href="https://www.facebook.com/UKCooperativeExtension" aria-label="Go to the UK Cooperative Extension Service Facebook Page" target="_blank"><i aria-hidden="true" title="Go to the UK Cooperative Extension Service Facebook Page" class="fa fa-brands fa-facebook-square fa-2x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/ukextension" aria-label="Go to the UK Cooperative Extension Service X Profile" target="_blank"><i aria-hidden="true" title="Go to the UK Cooperative Extension Service X Profile" class="fa fa-brands fa-twitter-square fa-square-x-twitter fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/ukyextension" aria-label="Go to the UK Cooperative Extension Service Instagram Feed" target="_blank"><i aria-hidden="true" title="Go to the UK Cooperative Extension Service Instagram Feed" class="fa fa-brands fa-instagram fa-2x"></i></a>
          </li>
          <li>
            <a href="http://www.youtube.com/user/UKAgriculture" aria-label="Go to the College of Agriculture, Food and Environment's YouTube Channel" target="_blank"><i aria-hidden="true" title="Go to the Martin-Gatton College of Agriculture, Food and Environment's YouTube Channel" class="fa fa-brands fa-youtube-play fa-youtube fa-2x"></i></a>
          </li>
          <li>
            <a href="https://www.flickr.com/photos/ukagriculture" aria-label="Go to the Martin-Gatton College of Agriculture, Food and Environment's Flickr Photostream" target="_blank"><i aria-hidden="true" title="Go to the College of Agriculture, Food and Environment's Flickr Photostream" class="fa fa-brands fa-flickr fa-2x"></i></a>
          </li>
        </ul>
      </div>
      <div class="footer-required-links">
        <ul>
          <li><a href="https://www.uky.edu/accreditation/" target="_blank">Accreditation</a></li>
          <li><a href="https://directory.uky.edu/" target="_blank">Directory</a></li>
          <li><a href="https://www.uky.edu/equal-opportunity-university/" target="_blank">An Equal Opportunity
              University</a></li>
          <li><a href="mailto:CAFE-WEB-SUPPORT-L@LSV.UKY.EDU?subject=Issue%20on%20https://extension.ca.uky.edu/about/programming" target="_blank">Report a Site Issue</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright-wrapper">
      <p>© 2024 University of Kentucky, Martin-Gatton College of Agriculture, Food and Environment</p>
    </div>

  </body>

    <![if gt IE 8]>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <![endif]>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
  
</html>