@model Kers.Models.Entities.KERScore.KersUser

@{
    var fy = ViewData["fy"] as string;
}

<div class="col-md-4 col-sm-4 col-xs-12 profile_details">
    <div class="well profile_view">
        <div class="col-sm-12">
            @if( @Model.PersonalProfile != null )
            {
            <h4 class="brief"><i>@Model.PersonalProfile.ProfessionalTitle</i></h4>
            <div class="left col-xs-7">
                <h2>@Model.PersonalProfile.FirstName @Model.PersonalProfile.LastName</h2>
                <p><strong>@Model.ExtensionPosition.Title</strong></p>
                <p><i class="fa fa-building"></i> <a href="~/Reports/county/@Model.RprtngProfile.PlanningUnitId" >@Model.RprtngProfile.PlanningUnit.Name</a></p>
            </div>
            <div class="right col-xs-5 text-center">
                @if(@Model.PersonalProfile.UploadImage != null)
                {
                    <img src="@Url.RouteUrl("ProcessImage", new { filename = @Model.PersonalProfile.UploadImage.UploadFile.Name, mode="crop", w=200, h=200 })" alt="@Model.PersonalProfile.FirstName" class="img-circle img-responsive">
                }else{
                    <img src="~/assets/images/user.png" alt="@Model.PersonalProfile.FirstName" class="img-circle img-responsive">
                }
                
            </div>
            }
        </div>
        <div class="col-xs-12 bottom text-center">
        
            <div class="col-xs-12 col-sm-6 emphasis">
                
                <a href="~/Reports/People/person/@Model.Id/@fy" class="btn btn-primary btn-xs">
                <i class="fa fa-user"> </i> View Profile
                </a>
            </div>
        </div>
    </div>
</div>