@model Kers.Models.Entities.KERScore.Story

@{
    var fy = ViewData["fy"] as string;
    var story = Model.Revisions.OrderBy( r => r.Created ).Last();
    var firstImageName = "";
    if( story.StoryImages.Count() > 0 ){
        firstImageName = story.StoryImages.OrderBy( i => i.Id ).First().UploadImage.UploadFile.Name;
    }
}

<div class="col-lg-6 col-md-12">
    <h2><a href="@Url.RouteUrl("ReportsFullStory", new { id = @Model.Id })">@story.Title</a></h2>
    <p><strong>Author: </strong>@Model.KersUser.PersonalProfile.FirstName @Model.KersUser.PersonalProfile.LastName</p>
    <p><strong>Major Program: </strong>@Model.MajorProgram.Name</p>
    @if(@firstImageName != ""){
        
            <img src="@Url.RouteUrl("ProcessImage", new { filename = @firstImageName, mode="crop", w=100, h=100 })" alt="@story.Title" class="img-thumbnail" style="float:left; margin-right:10px;"/>

        
    }
    @{
        var str = System.Text.RegularExpressions.Regex.Replace(@story.Story, "<[^>]*>", string.Empty);
    }
    <p>@str.Substring(0, Math.Min(str.Length, 500))</p>
    <div class="clearfix"></div>
    <h6><a href="@Url.RouteUrl("ReportsFullStory", new { id = @Model.Id })">Full Story</a></h6>
    <div class="ln_solid"></div>
</div>