@{
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Statistical Contact Report for FY" + FiscalYear.Name;
    ViewData["Subtitle"] = "Kentucky Extension Reporting System";

    var unit = ViewData["unit"] as Kers.Models.Entities.KERScore.PlanningUnit;
    var district = ViewData["district"] as Kers.Models.Entities.KERScore.District;


    var monthsForTheGraph = ViewData["months"] as string;
    var hoursForTheGraph = ViewData["hours"] as string;


    var colors1 = "[\"#26B99A\", \"#34495E\", \"#BDC3C7\", \"#3498DB\", \"#9B59B6\", \"#8abb6f\", \"#759c6a\", \"#bfd3b7\"]";
    var colors = "[\"#72c380\", \"#6f7a8a\", \"#f7cb38\",\"#96CA59\", \"#3F97EB\", \"#5a8022\", \"#2c7282\"]";
    Random random = new Random();

    var programsForTheLegend = ViewData["personssForTheLegend"] as string;
    var ProgramsHoursGraphDataList = ViewData["PrersonsHoursGraphDataList"] as string;
    var ProgramsContactsByProgramSeries = ViewData["PersonsContactsByProgramSeries"] as string;

    

    var ProgramDataPerMonth = ViewData["PersonDataPerMonth"] as List<Kers.Controllers.Reports.PersonDataPerMonth>;
    var AllPersonssData = ViewData["AllPersonssData"] as List<Kers.Controllers.Reports.PersonDataPerMonth>;
    var ProgramsGendersGraphDataList = ViewData["ProgramsGendersGraphDataList"] as string;


    var GraphCategories = ViewData["GraphCategories"] as string;
    var GraphData = ViewData["GraphData"] as string;
    var GraphLinks = ViewData["GraphLinks"] as string;

}
@model Kers.Models.ViewModels.TableViewModel

@if( unit != null )
{
    <h3>@unit.Name <small>@FiscalYear.Start.ToString("MMM d, yyyy") - @FiscalYear.End.ToString("MMM d, yyyy")</small></h3>
    
}
else if( district != null)
{
    <h3>@district.Name <small>@FiscalYear.Start.ToString("MMM d, yyyy") - @FiscalYear.End.ToString("MMM d, yyyy")</small></h3>
}

<style>
    .main-container .graph{
        height: 380px;
    }
    .main-container{
        height: 430px;
    }
    .tile{
        cursor:pointer !important;
        width: 33%;
    }
    .tiles .graph{
        height: 190px;
        margin-top: -40px;
        margin-left: -10px;
    }
</style>
@await Html.PartialAsync("TopStatsFiscalYearPartial")

<ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
    <li role="presentation" class=""><a asp-controller="Reports"  asp-action="County" asp-route-fy="@FiscalYear.Name" asp-route-id=@unit.Id>Summary</a>
    </li>
    <li role="presentation" class=""><a asp-controller="Contacts"  asp-action="DataByMonthByMajorProgram" asp-route-fy="@FiscalYear.Name" asp-route-filter="1" asp-route-id=@unit.Id>Data by Major Program</a>
    </li>
    <li role="presentation" class="active"><a asp-controller="Contacts"  asp-action="DataByMonthByEmployee" asp-route-fy="@FiscalYear.Name" asp-route-filter="1" asp-route-id=@unit.Id>Employee Contribution Data</a>
    </li>
</ul>


<div class="row">
    <div class="col-md-12">
        <div class="panel">
                <div class="x_title">
                    <h2>Statistical Contacts by Employee</h2>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="main-container">
                        <div id="Chart0" class="demo-placeholder">
                            <span>Male, Female Distribution</span>
                            <h2>Per Employee</h2>
                            <div class="graph"></div>
                        </div>
                    </div>
                    <div class="tiles">
                        <div class="col-md-4 tile">
                            <div id="Chart1">
                                <span>Top 5 Employees</span>
                                <h2>Contacts per Month</h2>
                                <div class="graph"></div>
                            </div>
                        </div>
                        <div  class="col-md-4 tile">
                            <div id="Chart2">
                                <span>Employees, Programs, Stories </span>
                                <h2>Connections</h2>
                                <div class="graph"></div>
                            </div>
                        </div>
                        <div  class="col-md-4 tile">
                            <div id="Chart3">
                                <span>Top 5 Employees </span>
                                <h2>Hours per Month</h2>
                                <div class="graph"></div>
                            </div>
                        </div>
                    </div>

                    </div>

                    <div class="col-md-3 col-sm-12 col-xs-12">
                    <div>
                        <div class="x_title">
                        <h2>Top Employees</h2>
                        
                        <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled top_profiles scroll-view">

                        @foreach( var prgrmData in AllPersonssData.Take(7) )
                        {
                            <li class="media event">
                            <div class="media-body">
                                <a class="title" asp-controller="MajorProgram"  asp-action="Program" asp-route-id=@prgrmData.KersUser.Id>@prgrmData.KersUser.PersonalProfile.FirstName @prgrmData.KersUser.PersonalProfile.LastName</a>
                                <p><strong>@prgrmData.Audience.Sum(s => s)</strong> Contacts (@prgrmData.Male.Sum(s => s) Male, @prgrmData.Female.Sum(s => s) Female)</p>
                                <p> <small>@prgrmData.Hours.Sum(s => s) Hours</small>
                                </p>
                            </div>
                            </li>
                        }
                        
                        </ul>
                    </div>
                    </div>


                </div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="x_title">
                <h2>Statistical Contacts Data</h2>
                
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
            @Html.Partial("TablePartial")
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



@section scripts
{
   <script type="text/javascript" src="@Url.Content("https://cdnjs.cloudflare.com/ajax/libs/echarts/4.1.0/echarts-en.min.js")"></script>
   <script>
      
	

    var options = [];
    var charts = [];
    var chartPlaceholders = ["Chart0","Chart1","Chart2", "Chart3"];
    @await Component.InvokeAsync("eCharts")
    options[0] = {
        tooltip: {
            axisPointer: {
                type: 'shadow'
            },
            formatter: function (params, ticket, callback) {
                return params.data[2] + '<br>Female: ' + params.data[0] + ', Male: ' + params.data[1];
            }
        },
        color: @Html.Raw(colors),
        xAxis: {
        name: "Female",
        nameLocation: "center",
        nameGap: 22
        },
        yAxis: {
        name: "Male",
        nameLocation: "center",
        nameGap: 22
        },
        series: [{
            symbolSize: 20,
            data: @Html.Raw(ProgramsGendersGraphDataList),
            itemStyle: {
            color: function (params) {
                var colors = @Html.Raw(colors);
                return colors[Math.floor(Math.random() * colors.length)];
            }
            } ,
            type: 'scatter'
        }]
    };






    options[1] = {
        color: @Html.Raw(colors),
        legend: {
            type: 'scroll',
            data: @Html.Raw(programsForTheLegend)
        },
        toolbox: {
            show: !1
        },
        calculable: !1,
        tooltip : {
            trigger: 'axis',
            axisPointer : {            
                type : 'shadow'        
            }
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        xAxis : [
            {
                type : 'category',
                data : @Html.Raw(monthsForTheGraph),
                axisTick: {
                    alignWithLabel: true
                }
            }
        ],
        yAxis : [
            {
                type : 'value'
            }
        ],
        series : @Html.Raw(ProgramsContactsByProgramSeries)
    };

    var GraphCategories = [{ name: "Employees"}, { name: "Major Programs"}, { name: "Success Stories"}];

    
    
    

        options[3] = {
                tooltip: {
                    trigger: "axis"
                },
                legend: {
                    x: 220,
                    y: 40,
                    data: @Html.Raw(programsForTheLegend)
                },
                calculable: !6,
                xAxis : [
                    {
                        type : 'category',
                        data : @Html.Raw(monthsForTheGraph),
                        boundaryGap: !1
                    }
                ],
                yAxis : [
                    {
                        type : 'value'
                    }
                ],
                series: @Html.Raw(ProgramsHoursGraphDataList)
            };
        $( document ).ready(function() {
            initCharts();
        });
        $(window).on('resize', function(){
            resizeCharts();
        });


        function initCharts(){
            var theId = $("#main");
            for( i = 0; i < 4; i++)
            {
                charts[i] = echarts.init($("#" + chartPlaceholders[i] + " .graph")[0]);
                if( i > 0) {
                    if( options[i].legend != null && options[i].legend != undefined ){
                        options[i].legend.show = false;
                    }
                }
                charts[i].setOption(options[i]);
            }
        }
        function resizeCharts(){
            for( i = 0; i < 4; i++)
            {
                if(charts[i] != null && charts[i] != undefined){
                    charts[i].resize();
                }
            }
        }




        $(".tile").click( function(){
            var current = $( ".main-container" ).children().first();
            var currentIndex = +current.attr('id').slice(-1);
            if(options[currentIndex].legend != null && options[currentIndex].legend != undefined){
                options[currentIndex].legend.show = false;
                charts[currentIndex].setOption(options[currentIndex]);  
            }
            var clicked = $(this).children().first();
            var clickedIndex = +clicked.attr('id').slice(-1);
            if(options[clickedIndex].legend != null && options[clickedIndex].legend != undefined){
                options[clickedIndex].legend.show = true;
                charts[clickedIndex].setOption(options[clickedIndex]);
            }
            $( ".main-container" ).append( clicked );
            $(this).append(current);
            resizeCharts()
        })















    </script>
}


