@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    ViewData["Title"] = "Kentucky State University Reports";
    var fy = ViewData["fy"];
}

<br><br>
<div class="bs-glyphicons">
    <ul class="bs-glyphicons-list">
      <li>
        <a asp-controller="Data"  asp-action="Index" asp-route-fy="@fy">
          <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
          <span class="glyphicon-class">Back to Data</span>
        </a>
      </li>
      <li>
        <a asp-controller="Story"  asp-action="Ksu" asp-route-fy="@fy">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <span class="glyphicon-class">Susccess Stories</span>
        </a>
      </li>
      <li>
        <a asp-controller="ProgramIndicators"  asp-action="Ksu" asp-route-fy="@fy">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <span class="glyphicon-class">Program Indicators pre Major Program</span>
        </a>
      </li>
      <li>
        <a asp-controller="ProgramIndicators"  asp-action="ByPersonKSU" asp-route-fy="@fy">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <span class="glyphicon-class">Program Indicators pre Employee</span>
        </a>
      </li>
      <li>
        <a asp-controller="Employees"  asp-action="Data" asp-route-type="2" asp-route-id="0" asp-route-fy="@fy">
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
          <span class="glyphicon-class">Statistical Contacts</span>
        </a>
      </li>
    </ul>
  </div>


<br><br>


