@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";

    ViewData["Title"] = "Expenses";
    var countyOrder = 0;

    var counties = ViewData["counties"] as Kers.Models.Entities.KERScore.PlanningUnit[];
    var total = ViewData["total"] as List<Kers.Models.Repositories.ExpenseSummary>;

}

@model List<List<Kers.Models.Repositories.ExpenseSummary>>;


@foreach( var countyData in Model ){
    <br><br>
    <h2>@counties[countyOrder++].Name</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Funding Source</th>
                            <th>Miles</th>
                            <th>Mileage Cost</th>
                            <th>Meals</th>
                            <th>Lodging</th>
                            <th>Registration</th>
                            <th>Other</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach( var exp in countyData)
                        {
                        <tr>
                            <td>@exp.fundingSource.Name</td>
                            <td>@exp.miles</td>
                            <td>@exp.mileageCost</td>
                            <td>@exp.meals</td>
                            <td>@exp.lodging</td>
                            <td>@exp.registration</td>
                            <td>@exp.other</td>
                            <td>@exp.total</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Sum</td>
                            <td>@countyData.Sum( d => d.miles)</td>
                            <td>@countyData.Sum( d => d.mileageCost)</td>
                            <td>@countyData.Sum( d => d.meals)</td>
                            <td>@countyData.Sum( d => d.lodging)</td>
                            <td>@countyData.Sum( d => d.registration)</td>
                            <td>@countyData.Sum( d => d.other)</td>
                            <td>@countyData.Sum( d => d.total)</td>
                        </tr>
                    </tfoot>
                  </table>
}


<h2>Total</h2>
<table class="table table-striped">
    <thead>
                        <tr>
                            <th>Funding Source</th>
                            <th>Miles</th>
                            <th>Mileage Cost</th>
                            <th>Meals</th>
                            <th>Lodging</th>
                            <th>Registration</th>
                            <th>Other</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        @foreach( var exp in total)
                        {
                        <tr>
                            <td>@exp.fundingSource.Name</td>
                            <td>@exp.miles</td>
                            <td>@exp.mileageCost</td>
                            <td>@exp.meals</td>
                            <td>@exp.lodging</td>
                            <td>@exp.registration</td>
                            <td>@exp.other</td>
                            <td>@exp.total</td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Sum</td>
                            <td>@total.Sum( d => d.miles)</td>
                            <td>@total.Sum( d => d.mileageCost)</td>
                            <td>@total.Sum( d => d.meals)</td>
                            <td>@total.Sum( d => d.lodging)</td>
                            <td>@total.Sum( d => d.registration)</td>
                            <td>@total.Sum( d => d.other)</td>
                            <td>@total.Sum( d => d.total)</td>
                        </tr>
                    </tfoot>
                  </table>