@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    var fy = FiscalYear.Name;
    if(ViewData["Title"] == null){
        ViewData["Title"] = "Succcess Stouries";
    }
    ViewData["Title"] += " of Faculty for FY" + FiscalYear.Name;
    ViewData["Subtitle"] = FiscalYear.Start.ToString("MMM d, yyyy") + " - " + FiscalYear.End.ToString("MMM d, yyyy");
    

}
@model List<Kers.Models.ViewModels.StoryViewModel>

@foreach( var story in Model){


<h3>@story.Title</h3>
        <p><strong>Author: </strong><a asp-controller="People" asp-action="Person" asp-route-id="@story.KersUser.Id" asp-route-fy="@fy" >@story.KersUser.PersonalProfile.FirstName @story.KersUser.PersonalProfile.LastName</a></p>
        <p><strong>Planning Unit: </strong><a asp-controller="Reports" asp-action="County" asp-route-id="@story.PlanningUnit.Id" asp-route-fy="@fy">@story.PlanningUnit.Name</a></p>
        <p><strong>Major Program: </strong><a asp-controller="MajorProgram" 
                                    asp-action="Program" 
                                    asp-route-id="@story.MajorProgram.Id"
                                    >@story.MajorProgram.Name</a></p>
        
        <environment names="Development">
            <div class="fr-view">@Html.Raw(@story.Story)</div>
        </environment>
        <environment names="Staging,Production">
            <div class="fr-view">@Html.Raw(@story.Story.Replace("fileuploads", "/core/fileuploads"))</div>
        </environment>
}