@model List<Kers.Controllers.Reports.StrategicInitiativeIndicatorsViewModel>
@{
    Layout = "~/Views/Shared/_LayoutReports.cshtml";
    
    ViewData["Subtitle"] = "Kentucky Extension Reports";
    string county = ViewData["county"] as string;
    var fy = ViewData["fy"] as string;
    if( fy == "0"){
      fy = "2018";
    }
    ViewData["Title"] = "Program Indicators for FY" + fy;
    var ReportingCountiesPerProgram = ViewData["ReportingCountiesPerProgram"] as List<Kers.Controllers.Reports.ReportingCountiesPerProgram>;
    var id = ViewData["id"] as int?;
}

<h3>@county</h3>

<div class="text-right">
        <a asp-controller="ProgramIndicators"  asp-action="Countylist" class="btn btn-default btn-xs"  asp-route-fy="@fy">Back to the County List</a><br>
</div>


@foreach(var intv in Model){
    <h2>@intv.Title</h2>
    @foreach( var prgrm in intv.Indicators){
        <table class="table">
            <thead>
                <th colspan="3">@prgrm.Code.ToString() - @prgrm.Title</th>
            </thead>
            <tbody>
                @foreach( var indctr in prgrm.Indicators){
                    <tr>
                        <td>
                            @prgrm.Code.ToString().@indctr.Code)
                        </td>
                        <td>
                            @indctr.Amount
                        </td>
                        <td>
                            @Html.Raw(@indctr.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if( id == 0 )
        {
            <p><strong>Counties Reporting:</strong> @ReportingCountiesPerProgram.Where( p => p.MajorProgram.PacCode == prgrm.Code ).First().UnitsToString </p><br>
        }
    }
}