@model List<Kers.Models.ViewModels.StoryViewModel>;
@{
    var FiscalYear = ViewData["FiscalYear"] as Kers.Models.Entities.KERScore.FiscalYear;
    var PlanningUnitId = ViewData["PlanningUnitId"] as int?;
    var MajorProgramId = ViewData["MajorProgramId"] as int?;
    var fy = "0";
    if(FiscalYear != null ){
        fy = FiscalYear.Name;
    }
}
<div class="panel">
    <div class="x_title">
        <h2>Stories <small>Behind the Numbers</small></h2>
        
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <div class="dashboard-widget-content">
            <ul class="list-unstyled timeline widget">
                @foreach( var theStory in Model){
                        <li>
                        <div class="block">
                        <div class="block_content">
                            <h2 class="title">
                                            <a asp-route="ReportsFullStory" asp-route-fy="@fy" asp-route-id="@theStory.StoryId">@theStory.Title</a>
                                        </h2>
                            <div class="byline" style="padding-bottom: .35em;">
                        <span>@Html.TimeAgo(@theStory.Updated)</span> by <a asp-controller="People" asp-action="Person" asp-route-id="@theStory.KersUser.Id" asp-route-fy="@fy" >@theStory.KersUser.PersonalProfile.FirstName @theStory.KersUser.PersonalProfile.LastName</a>
                    </div>
                            <p class="excerpt">
                            
                                @{
                                   var stryn = Html.StripHtml(@theStory.Story);
                                //var stryn = System.Text.RegularExpressions.Regex.Replace(@theStory.Story, "<[^>]*>", string.Empty);
                            }
                    
                            @stryn.Substring(0, Math.Min(stryn.Length, 200))... <a asp-route="ReportsFullStory" asp-route-fy="@fy" asp-route-id="@theStory.StoryId">Read&nbsp;More</a>
                            </p>
                        </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
        @if(PlanningUnitId != 0)
        {
            <a asp-controller="Story" asp-action="Index" asp-route-fy="@fy" asp-route-planningUnitId="@PlanningUnitId" class="btn btn-sm btn-primary">More Stories</a>
        }
        else if (MajorProgramId != 0)
        {
            <a asp-controller="Story" asp-action="Index" asp-route-fy="@fy" asp-route-programId="@MajorProgramId" class="btn btn-sm btn-primary">More Stories</a>
        }
        else
        {
            <a asp-controller="Story" asp-action="Index" asp-route-fy="@fy" class="btn btn-sm btn-primary">More Stories</a>
        }
        
    </div>
</div>